{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1>Login</h1>
        <p>Enter credentials to login.</p>
        
        {{ form_errors(form) }}
        {{ form_start(form, {"method":"POST"}) }}
        {{ form_end(form) }}
      </div>
    </div>
{% endblock %}