{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1>Login Success</h1>
        <p>This is your page.</p>
      </div>
    </div>
{% endblock %}