{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is the home page of our application.</p>
      </div>
    </div>
{% endblock %}