{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1>Registration Complete</h1>
        <p>Thank you for registering!</p>
          
        
      </div>
    </div>
{% endblock %}